[submodule "sources/libx264"]
	path = sources/libx264
	url = http://git.videolan.org/git/x264
	branch = master
[submodule "sources/nv-codec-headers"]
	path = sources/nv-codec-headers
	url = https://git.videolan.org/git/ffmpeg/nv-codec-headers.git
	branch = master
[submodule "sources/libfdk_aac"]
	path = sources/libfdk_aac
	url = https://github.com/mstorsjo/fdk-aac
	branch = master
[submodule "sources/libvpx"]
	path = sources/libvpx
	url = https://github.com/webmproject/libvpx.git
	branch = master
